{% extends "base.html" %}
{% load jalali_tags %}
{% load static %}
{% block title %}
ویرایش اطلاعات مشارکت کننده
{% endblock title %}

{% block content %}
<section id="page-content" class="background-light">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-body">
                        <h2>ویرایش اطلاعات</h2>
                        <p>لطفا اطلاعات خواسته شده در فرم زیر را با دقت وارد کنید، درصورت عدم درج اطلاعات صحیح سیستم با مشکل مواجه خواهد شد!</p>
                        <p class="text-danger">برای مشارکت کنندگان حقوقی شناسه ملی شرکت/سازمان و نام مدیرعامل الزامی است!</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-header">
                        <span class="h4">فرم ویرایش</span>
                        <p class="text-muted">اطلاعات مشارکت کننده را با دقت پر کنید.</p>
                    </div>
                    <div class="card-body">
                        <form method="post" class="form-validate">
                            {% csrf_token %}
                            <div class-"form-row">
                                {% for error in form.non_field_errors %}
                                <div role="alert" class="alert alert-danger alert-dismissible">
                                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span> </button>
                                    <strong><i class="fa fa-exclamation-circle"></i> خطا!</strong> 
                                    {{ error }}
                                </div>
                                {% endfor %}
                                {% for message in messages %}
                                    {% if message.tags == 'error' %}
                                        <div role="alert" class="alert alert-danger alert-dismissible">
                                            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span> </button>
                                            <strong><i class="fa fa-exclamation-circle"></i> هشدار!</strong> 
                                            {{ message}}
                                        </div>
                                    {% endif %}
                                    {% if message.tags == 'success' %}
                                        <div role="alert" class="alert alert-success alert-dismissible">
                                            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span> </button>
                                            <strong><i class="fa fa-exclamation-circle"></i> تبریک!</strong> 
                                            {{ message}}
                                        </div>
                                    {% endif %}
                                {% endfor %}
                            </div>
                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    {{ form.is_active.label_tag }}
                                    {{ form.is_active }}
                                    {% if form.is_active.errors %}
                                        {% for error in form.is_active.errors %}
                                            <p class="text-danger">{{ error }}</p>
                                        {% endfor %}
                                    {% endif %}
                                    {% if form.label_tag.errors %}
                                        {% for error in form.label_tag.errors %}
                                            <p class="text-danger">{{ error }}</p>
                                        {% endfor %}
                                    {% endif %}
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    {{ form.kind.label_tag }}
                                    {{ form.kind }}
                                    {% if form.kind.errors %}
                                        {% for error in form.kind.errors %}
                                            <p class="text-danger">{{ error }}</p>
                                        {% endfor %}
                                    {% endif %}
                                    {% if form.label_tag.errors %}
                                        {% for error in form.label_tag.errors %}
                                            <p class="text-danger">{{ error }}</p>
                                        {% endfor %}
                                    {% endif %}
                                </div>
                                <div class="form-group col-md-6">
                                    {{ form.sid.label_tag }}
                                    {{ form.sid }}
                                    {% if form.sid.errors %}
                                        {% for error in form.sid.errors %}
                                            <p class="text-danger">{{ error }}</p>
                                        {% endfor %}
                                    {% endif %}
                                    {% if form.label_tag.errors %}
                                        {% for error in form.label_tag.errors %}
                                            <p class="text-danger">{{ error }}</p>
                                        {% endfor %}
                                    {% endif %}
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    {{ form.first_name.label_tag }}
                                    {{ form.first_name }}
                                    {% if form.first_name.errors %}
                                        {% for error in form.first_name.errors %}
                                            <p class="text-danger">{{ error }}</p>
                                        {% endfor %}
                                    {% endif %}
                                    {% if form.label_tag.errors %}
                                        {% for error in form.label_tag.errors %}
                                            <p class="text-danger">{{ error }}</p>
                                        {% endfor %}
                                    {% endif %}
                                </div>
                                <div class="form-group col-md-6">
                                    {{ form.last_name.label_tag }}
                                    {{ form.last_name }}
                                    {% if form.last_name.errors %}
                                        {% for error in form.last_name.errors %}
                                            <p class="text-danger">{{ error }}</p>
                                        {% endfor %}
                                    {% endif %}
                                    {% if form.label_tag.errors %}
                                        {% for error in form.label_tag.errors %}
                                            <p class="text-danger">{{ error }}</p>
                                        {% endfor %}
                                    {% endif %}
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    {{ form.code }}
                                    {% if form.code.errors %}
                                        {% for error in form.code.errors %}
                                            <p class="text-danger">{{ error }}</p>
                                        {% endfor %}
                                    {% endif %}
                                    {% if form.label_tag.errors %}
                                        {% for error in form.label_tag.errors %}
                                            <p class="text-danger">{{ error }}</p>
                                        {% endfor %}
                                    {% endif %}
                                </div>
                                <div class="form-group col-md-6">
                                    {{ form.mobile }}
                                    {% if form.mobile.errors %}
                                        {% for error in form.mobile.errors %}
                                            <p class="text-danger">{{ error }}</p>
                                        {% endfor %}
                                    {% endif %}
                                    {% if form.label_tag.errors %}
                                        {% for error in form.label_tag.errors %}
                                            <p class="text-danger">{{ error }}</p>
                                        {% endfor %}
                                    {% endif %}
                                </div>
                            </div>
                            <div class="h5 mb-4">حقوقی:</div>
                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    {{ form.brand.label_tag }}
                                    {{ form.brand }}
                                    {% if form.brand.errors %}
                                        {% for error in form.brand.errors %}
                                            <p class="text-danger">{{ error }}</p>
                                        {% endfor %}
                                    {% endif %}
                                    {% if form.label_tag.errors %}
                                        {% for error in form.label_tag.errors %}
                                            <p class="text-danger">{{ error }}</p>
                                        {% endfor %}
                                    {% endif %}
                                </div>
                                <div class="form-group col-md-6">
                                    {{ form.company.label_tag }}
                                    {{ form.company }}
                                    {% if form.company.errors %}
                                        {% for error in form.company.errors %}
                                            <p class="text-danger">{{ error }}</p>
                                        {% endfor %}
                                    {% endif %}
                                    {% if form.label_tag.errors %}
                                        {% for error in form.label_tag.errors %}
                                            <p class="text-danger">{{ error }}</p>
                                        {% endfor %}
                                    {% endif %}
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    {{ form.ceoname.label_tag }}
                                    {{ form.ceoname }}
                                    {% if form.ceoname.errors %}
                                        {% for error in form.ceoname.errors %}
                                            <p class="text-danger">{{ error }}</p>
                                        {% endfor %}
                                    {% endif %}
                                    {% if form.label_tag.errors %}
                                        {% for error in form.label_tag.errors %}
                                            <p class="text-danger">{{ error }}</p>
                                        {% endfor %}
                                    {% endif %}
                                </div>
                                <div class="form-group col-md-6">
                                    {{ form.ncode.label_tag }}
                                    {{ form.ncode }}
                                    {% if form.ncode.errors %}
                                        {% for error in form.ncode.errors %}
                                            <p class="text-danger">{{ error }}</p>
                                        {% endfor %}
                                    {% endif %}
                                    {% if form.label_tag.errors %}
                                        {% for error in form.label_tag.errors %}
                                            <p class="text-danger">{{ error }}</p>
                                        {% endfor %}
                                    {% endif %}
                                </div>
                            </div>
                            <div class="h5 mb-4">آدرس:</div>
                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    {{ form.phone.label_tag }}
                                    {{ form.phone }}
                                    {% if form.phone.errors %}
                                        {% for error in form.phone.errors %}
                                            <p class="text-danger">{{ error }}</p>
                                        {% endfor %}
                                    {% endif %}
                                    {% if form.label_tag.errors %}
                                        {% for error in form.label_tag.errors %}
                                            <p class="text-danger">{{ error }}</p>
                                        {% endfor %}
                                    {% endif %}
                                </div>
                                <div class="form-group col-md-6">
                                    {{ form.fax.label_tag }}
                                    {{ form.fax }}
                                    {% if form.fax.errors %}
                                        {% for error in form.fax.errors %}
                                            <p class="text-danger">{{ error }}</p>
                                        {% endfor %}
                                    {% endif %}
                                    {% if form.label_tag.errors %}
                                        {% for error in form.label_tag.errors %}
                                            <p class="text-danger">{{ error }}</p>
                                        {% endfor %}
                                    {% endif %}
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    {{ form.email.label_tag }}
                                    {{ form.email }}
                                    {% if form.email.errors %}
                                        {% for error in form.email.errors %}
                                            <p class="text-danger">{{ error }}</p>
                                        {% endfor %}
                                    {% endif %}
                                    {% if form.label_tag.errors %}
                                        {% for error in form.label_tag.errors %}
                                            <p class="text-danger">{{ error }}</p>
                                        {% endfor %}
                                    {% endif %}
                                </div>
                                <div class="form-group col-md-6">
                                    {{ form.postalcode.label_tag }}
                                    {{ form.postalcode }}
                                    {% if form.postalcode.errors %}
                                        {% for error in form.postalcode.errors %}
                                            <p class="text-danger">{{ error }}</p>
                                        {% endfor %}
                                    {% endif %}
                                    {% if form.label_tag.errors %}
                                        {% for error in form.label_tag.errors %}
                                            <p class="text-danger">{{ error }}</p>
                                        {% endfor %}
                                    {% endif %}
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group col-md-12">
                                    {{ form.address.label_tag }}
                                    {{ form.address }}
                                    {% if form.address.errors %}
                                        {% for error in form.address.errors %}
                                            <p class="text-danger">{{ error }}</p>
                                        {% endfor %}
                                    {% endif %}
                                    {% if form.label_tag.errors %}
                                        {% for error in form.label_tag.errors %}
                                            <p class="text-danger">{{ error }}</p>
                                        {% endfor %}
                                    {% endif %}
                                </div>
                            </div>
                            <input type="submit" value="ذخیره تغییرات" class="btn m-t-30 mt-3">
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card">
                    <div class="card-body">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% block script%}
<script>
    // Initialize Select2 on the select element
    $(document).ready(function() {
      $('#id_user').select2();
    });
  </script>
{% endblock script %}
{% endblock content %}