{% extends "base.html" %}
{% load jalali_tags %}
{% load humanize %}
{% load static %}

{% block title %}
لیست مشارکت کنندگان در نمایشگاه
{% endblock title %}

{% block content %}
<section id="page-content" class="background-light">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-body" data-bg-image="{% static 'images/exc.png' %}">
                        <h2>لیست صورت وضعیت نمایشگاه {{ exh.title }}</h2>
                        <p>لطفاً از صحیح و بروز بودن اطلاعات مشارکت کنندگان اطمینان حاصل فرمایید!</p>
                        <p class="text-danger">برای مشارکت کنندگان حقوقی شناسه ملی شرکت/سازمان و نام مدیرعامل الزامی است!</p>
                    </div>
                </div>
            </div>
            {% if messages %}
            <div class="col-lg-12">
                {% for message in messages %}
                    {% if message.tags == 'error' %}
                        <div role="alert" class="alert alert-danger alert-dismissible">
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span> </button>
                            <strong><i class="fa fa-exclamation-circle"></i> هشدار!</strong> 
                            {{ message}}
                        </div>
                    {% endif %}
                    {% if message.tags == 'success' %}
                        <div role="alert" class="alert alert-success alert-dismissible">
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span> </button>
                            <strong><i class="fa fa-exclamation-circle"></i> تبریک!</strong> 
                            {{ message}}
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
            {% endif %}
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <div class="form-group col-lg-12">
                                <div class="row">
                                    <div class="form-group col-lg-3">
                                        <input class="form-control" id="myInput" type="text" placeholder="جستجو...">
                                    </div>
                                </div>
                            </div>
                            <div id="printableArea" class="col-lg-12">
                                <div class="table-responsive" style="height:500px;overflow:auto;">
                                    <table id="datatable" class="table table-bordered table-hover" style="width:100%">
                                        <thead class="thead-light">
                                            <tr>
                                                <th>#</th>
                                                <th>نام تجاری</th>
                                                <th>متراژ</th>
                                                <th>تخفیف</th>
                                                <th>مبلغ نهایی (ریال)</th>
                                                <th>پرداخت‌ها (شماره پیگیری - مبلغ - تاریخ)</th>

                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for item in items %}
                                            <tr>
                                                <td>{{ forloop.counter }}</td>
                                                <td style="color:blueviolet"><b>{{ item.customer.company }}</b></td>
                                                <td>{{ item.area }}</td>
                                                <td>
                                                    {% if item.discount %}
                                                    {{ item.discount }}
                                                    {% else %}
                                                    0
                                                    {% endif %}
                                                </td>
                                                <td>{{ item.total_price|intcomma:False }}</td>
                                                <td>
                                                    {% for pay in item.invoice.paymentmodel_set.all %}
                                                    <ul class="list list-legend">
                                                        <li>
                                                        <b>وضعیت:</b> {{ pay.get_state_display }}
                                                        </li>
                                                        <li>
                                                        {% if pay.tracenumber %}
                                                        <b>ش.پ:</b> {{ pay.tracenumber }}
                                                        {% else %}
                                                        <b>ش.پ:</b> ندارد
                                                        {% endif %}
                                                        </li>
                                                        <li>
                                                        <b>مبلغ:</b> {{ pay.amount|intcomma:False  }}
                                                        </li>
                                                        <li>
                                                        {% if pay.datepaid %}
                                                        <b>تاریخ:</b> {{ pay.datepaid }}<br>
                                                        {% else %}
                                                        <b>تاریخ:</b> ندارد<br>
                                                        {% endif %}
                                                        </li>
                                                        <li>
                                                            <b>تاریخ ایجاد:</b> {{ pay.created_date|to_jalali:"%Y/%m/%d" }}<br>
                                                        </li>
                                                    </ul>
                                                    {% endfor %}
                                                </td>
                                            </tr>
                                            {% endfor %}
                                        </tbody>
                                        <tfoot style="background-color:gainsboro">
                                            <tr>
                                                <th></th>
                                                <th></th>
                                                <th></th>
                                                <th></th>
                                                <th></th>
                                                <th></th>
                                            </tr>
                                        </tfoot>
                                    </table>
                                </div>
                            </div>
                            <div class="col-lg-12">
                                <input class="btn mt-5" type="button" onclick="printDiv('printableArea')" value="چاپ" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock content %}
{% block script %}

<script>
    $(document).ready(function(){
      $("#myInput").on("keyup", function() {
        var value = $(this).val().toLowerCase();
        $("#datatable tr").filter(function() {
          $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
        });
      });
    });
    </script>
    <script>
        function printDiv(divId) {
            var printContents = document.getElementById(divId).innerHTML;
            var originalContents = document.body.innerHTML;
        
            document.body.innerHTML = printContents;
        
            window.print();
        
            document.body.innerHTML = originalContents;
        }
        </script>
{% endblock script %}