{% extends "base.html" %}
{% load jalali_tags %}
{% load static %}
{% block title %}
خانه | مدیریت پورتال
{% endblock title %}

{% block content %}


<section id="page-content" class="background-light">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <div class="widget widget-mycart p-cb">
                    <div>
                        <div class="mb-2"><img src="{% static 'images/7.jpg' %}" class="avatar avatar-lg"></div>
                        <div class="cart-product-meta">
                            <a href="#">{{ user.first_name }} {{ user.last_name }}</a>
                            <p> مدیریت سیستم </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="grid-layout grid-1-columns" data-item="grid-item" data-margin="10">
            <div class="grid-item">
                <div class="widget widget-notification p-cb">
                    <h3>لیست مشارکت کنندگان</h3>
                    {% for customer in customer %}
                    {% if forloop.last %}
                    <p class="text-danger">تعداد <b style="font-size:large">{{ forloop.counter }}</b> مشارکت کننده غیر فعال</p>
                    {% endif %}
                    {% endfor %}
                    <div class="table-responsive">
                        <table class="table table-bordered">
                            <thead class="thead-light">
                                <tr>
                                    <th>#</th>
                                    <th>نام و نشان</th>
                                    <th>نام تجاری</th>
                                    <th>کدملی</th>
                                    <th>شماره موبایل</th>
                                    <th>تاریخ ایجاد</th>
                                    <th>وضعیت</th>
                                </tr>
                            </thead>
                            <tbody>
                            {% for customer in customer %}
                            {% if forloop.counter < 6 %}
                                <tr>
                                    <td>{{ forloop.counter }}</td>
                                    <td class="text-info">
                                        {{ customer.firstname }} {{ customer.lastname }}
                                    </td>
                                    <td style="color:blueviolet">{{ customer.company }}</td>
                                    <td class="text-primary">{{ customer.code }}</td>
                                    <td class="text-primary">{{ customer.mobile }}</td>
                                    <td>{{ customer.created_date|to_jalali:"%Y/%m/%d" }}</td>
                                    <td>
                                        {% if customer.is_active %}
                                        فعال
                                        {% else %}
                                        <h4><span class="badge badge-warning">غیر فعال</span></h4>
                                        {% endif %}
                                    </td>
                                </tr>
                            {% endif %}
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    <hr>
                    <div><a class="btn" href="{% url 'office:customer-list' %}">مشاهده همه</a></div>
                </div>
            </div>
            <div class="grid-item">
                <div class="widget widget-notification p-cb">
                    <h3>لیست درخواست‌ها</h3>
                    {% for req in req %}
                    {% if forloop.last %}
                    <p class="text-danger">تعداد <b style="font-size:large">{{ forloop.counter }}</b> درخواست بررسی نشده</p>
                    {% endif %}
                    {% endfor %}
                    <div class="table-responsive">
                        <table class="table table-bordered">
                            <thead class="thead-light">
                                <tr>
                                    <th>#</th>
                                    <th>نام تجاری</th>
                                    <th>کدملی/شناسه‌ملی</th>
                                    <th>عنوان نمایشگاه</th>
                                    <th>متراژ</th>
                                    <th>قوانین</th>
                                    <th>تاریخ ایجاد</th>
                                    <th>وضعیت</th>
                                </tr>
                            </thead>
                            <tbody>
                            {% for req in req %}
                            {% if forloop.counter < 6 %}
                                <tr>
                                    <td>{{ forloop.counter }}</td>
                                    <td style="color:blueviolet">{{ req.customer.company }}</td>
                                    <td>{{ req.customer.code }}</td>
                                    <td>{{ req.exhibition.title }}</td>
                                    <td>{{ req.area }}</td>
                                    <td>
                                        {% if req.rules %}
                                        <i class="icon-check-square"></i>
                                        {% else %}
                                        <i class="icon-x"></i>
                                        {% endif %}
                                    </td>
                                    <td>{{ req.created_date|to_jalali:"%Y/%m/%d" }}</td>
                                    <td>
                                        {% if req.state == "wait" %}
                                        <h4><span class="badge badge-warning">در انتظار بررسی</span></h4>
                                        {% elif req.state == "accept" %}
                                        <h4><span class="badge badge-success">قبول</span></h4>
                                        {% else %}
                                        <h4><span class="badge badge-danger">رد شده</span></h4>
                                        {% endif %}
                                    </td>
                                </tr>
                            {% endif %}
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    <hr>
                    {% comment %} <div><a class="btn" href="{% url 'office:request-list' %}">مشاهده همه</a></div> {% endcomment %}
                </div>
            </div>
        </div>
        <div class="grid-layout grid-2-columns" data-item="grid-item" data-margin="0">
            <div class="grid-item">
                <div class="widget widget-notification p-cb">
                    <h3>لیست نمایشگاه‌ها</h3>
                    {% for exhibition in exhibition %}
                    {% if forloop.last %}
                    <p class="text-danger">تعداد <b style="font-size:large">{{ forloop.counter }}</b> نمایشگاه در حال ثبت‌نام</p>
                    {% endif %}
                    {% endfor %}
                    <div class="table-responsive">
                        <table class="table table-bordered">
                            <thead class="thead-light">
                                <tr>
                                    <th>#</th>
                                    <th>عنوان نمایشگاه</th>
                                    <th>قیمت</th>
                                    <th>تاریخ برگزاری</th>
                                    <th>وضعیت</th>
                                </tr>
                            </thead>
                            <tbody>
                            {% for exhibition in exhibition %}
                                <tr>
                                    <td>{{ forloop.counter }}</td>
                                    <td style="color:blueviolet">{{ exhibition.title }}</td>
                                    <td>{{ exhibition.price }}</td>
                                    <td>{{ exhibition.date|to_jalali:"%Y/%m/%d" }}</td>
                                    <td>
                                        {% if exhibition.is_active %}
                                        <h4><span class="badge badge-success"> فعال</span></h4>
                                        {% else %}
                                        <h4><span class="badge badge-warning">غیر فعال</span></h4>
                                        {% endif %}
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    <hr>
                    <div><a class="btn" href="{% url 'office:exhibition-list' %}">مشاهده همه</a></div>
                </div>
            </div>
            <div class="grid-item">
                <div class="widget widget-notification p-cb">
                    <div style="height:445px">
                        <div class="text-center"><h2>هنوز پنل فعالی وجود ندارد</h2></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock content %}