{% extends "base.html" %}
{% load jalali_tags %}
{% load humanize %}
{% load static %}
{% block title %}
خانه | مدیریت پورتال
{% endblock title %}

{% block content %}


    <section>
        <div class="container">
            <div class="row col-no-margin equalize" data-equalize-item=".text-box">
        
                <div class="col-lg-4" style="background-color: #41566f;">
                    <div class="text-box hover-effect" style="height: 343.667px;">
                        <a href="{% url 'office:customer-list' %}" target="_blank"> <i class="icon-users"></i>
                            <h3>مشارکت کنندگان </h3>
                            <p>این بخش جهت مشاهده اطلاعات مشارکت کنندگان می‌باشد.</p>
                        </a>
                    </div>
                </div>
        
                <div class="col-lg-4" style="background-color: #41566f;">
                    <div class="text-box hover-effect" style="height: 343.667px;">
                        <a href="{% url 'office:exhibition-list' %}" target="_blank"> <i class="icon-flag"></i>
                            <h3>نمایشگاه‌ ها </h3>
                            <p>این بخش جهت مشاهده جزئیات نمایشگاه‌ها، ثبت نام و صورت وضعیت می‌باشد.</p>
                        </a>
                    </div>
                </div>
        
                <div class="col-lg-4" style="background-color: #41566f;">
                    <div class="text-box hover-effect" style="height: 343.667px;">
                        <a href="#" target="_blank"> <i class="icon-map"></i>
                            <h3>فاکتور ها </h3>
                            <p>این بخش جهت اطلاع از وضعیت فاکتورهای مشارکت کنندگان می‌باشد.</p>
                        </a>
                    </div>
                </div>
        
                <div class="col-lg-4" style="background-color: #41566f;">
                    <div class="text-box hover-effect" style="height: 343.667px;">
                        <a href="{% url 'office:payment-list' %}" target="_blank"> <i class="icon-dollar-sign"></i>
                            <h3>پرداخت ها </h3>
                            <p>این بخش جهت مشاهده واریزی‌ها و اطلاع از وضعیت پرداخت‌ها می‌باشد.</p>
                        </a>
                    </div>
                </div>
        
                <div class="col-lg-4" style="background-color: #41566f;">
                    <div class="text-box hover-effect" style="height: 343.667px;">
                        <a href="#" target="_blank"> <i class="icon-mail"></i>
                            <h3>پیغام ها </h3>
                            <p>این بخش جهت مشاهده پیغام‌ها می‌باشد.</p>
                        </a>
                    </div>
                </div>
        
                <div class="col-lg-4" style="background-color: #41566f;">
                    <div class="text-box hover-effect" style="height: 343.667px;">
                        <a href="{% url 'accounts:signout' %}" target="_blank"> <i class="icon-log-out"></i>
                            <h3>خروج </h3>
                        </a>
                    </div>
                </div>
        
            </div>
        </div>
    </section>
{% endblock content %}