{% extends "base.html" %}
{% load jalali_tags %}
{% load humanize %}
{% load static %}

{% block title %}
لیست فاکتورهای فعال و غیرفعال
{% endblock title %}

{% block content %}
<section id="page-content" class="background-light">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-body" data-bg-image="{% static 'images/invoices.png' %}">
                        <h2>لیست فاکتورها</h2>
                        <p>فقط فاکتورهای فعال قابل پرداخت و تسویه حساب می‌باشند و فاکتورهای منقضی شده به هیچ عنوان قابل پرداخت نیستند!</p>
                        <p class="text-danger">فاکتورهای منقضی شده فقط با اجازه مدیر قابلیت فعال شدن دارند!</p>
                    </div>
                </div>
            </div>
            {% if messages %}
            <div class="col-lg-12">
                {% for message in messages %}
                    {% if message.tags == 'error' %}
                        <div role="alert" class="alert alert-danger alert-dismissible">
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span> </button>
                            <strong><i class="fa fa-exclamation-circle"></i> هشدار!</strong> 
                            {{ message}}
                        </div>
                    {% endif %}
                    {% if message.tags == 'success' %}
                        <div role="alert" class="alert alert-success alert-dismissible">
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span> </button>
                            <strong><i class="fa fa-exclamation-circle"></i> تبریک!</strong> 
                            {{ message}}
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
            {% endif %}
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <div class="form-group col-lg-3">
                                <input class="form-control" id="myInput" type="text" placeholder="جستجو...">
                            </div>
                            <div class="col-lg-12">
                                <div class="tabs">
                                    <ul class="nav nav-tabs" id="myTab" role="tablist">
                                        <li class="nav-item">
                                            <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab"
                                                aria-controls="home" aria-selected="true">فاکتورهای فعال</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab"
                                                aria-controls="profile" aria-selected="false">فاکتورهای منقضی</a>
                                        </li>
                                    </ul>
                                    <div class="tab-content" id="myTabContent">
                                        <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                                            <div class="table-responsive" style="height:500px;overflow:auto;">
                                                <table id="datatable" class="table table-bordered table-hover" style="width:100%;text-align:center">
                                                    <thead class="thead-light">
                                                        <tr>
                                                            <th>شماره فاکتور</th>
                                                            <th>نام تجاری</th>
                                                            <th>نمایشگاه</th>
                                                            <th>متراژ</th>
                                                            <th>تخفیف</th>
                                                            <th>مبلغ نهایی</th>
                                                            <th>تاریخ</th>
                                                            <th>توضیحات</th>
                                                            <th class="noExport">اقدامات</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        {% for invoice in invoices %}
                                                        {% for item in invoice.invoiceitemmodel_set.all %}
                                                        {% if item.is_active %}
                                                        <tr>
                                                            <td>{{ item.invoice.pk }}</td>
                                                            <td style="color:blueviolet" data-toggle="tooltip" data-placement="top" title="{{ item.customer.firstname }} {{ item.customer.lastname }}-{{ item.customer.code }}">
                                                                <b>{{ item.customer.company }}</b>
                                                            </td>
                                                            <td style="color:green"><b>{{ item.exhibition.title }}</b></td>
                                                            <td>{{ item.area }}</td>
                                                            <td>{% if item.discount %}{{ item.discount }}{% else %}0{% endif %}</td>
                                                            <td>{{ item.total_price|intcomma:False }}</td>
                                                            <td>{{ item.created_date|to_jalali:'%Y/%m/%d' }}</td>
                                                            <td>
                                                                {% if item.description %}
                                                                {{ item.description }}
                                                                {% else %}
                                                                -----
                                                                {% endif %}
                                                            </td>
                                                            <td>
                                                                <a class="btn btn-xs" href="{% url 'staff:invoice-details' iid=invoice.pk %}">مشاهده</a>
                                                                <a class="btn btn-xs btn-info" href="{% url 'staff:invoice-edit' iid=invoice.pk %}">ویرایش</a>
                                                                <a class="btn btn-xs btn-success" href="{% url 'staff:payment-add' id=invoice.pk %}">رسیدها</a>
                                                                {% if item.invoice.state != "paid" %}
                                                                <a class="btn btn-xs btn-danger" href="{% url 'staff:payment-add' id=invoice.pk %}">پرداخت</a>
                                                                {% endif %}
                                                            </td>
                                                        </tr>
                                                        {% endif %}
                                                        {% endfor %}
                                                        {% endfor %}
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                        <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                                            <div class="table-responsive" style="height:500px;overflow:auto;">
                                                <table id="datatable" class="table table-bordered table-hover" style="width:100%;text-align:center">
                                                    <thead class="thead-light">
                                                        <tr>
                                                            <th>فعال</th>
                                                            <th>نام تجاری</th>
                                                            <th>نام و نشان</th>
                                                            <th>نمایشگاه</th>
                                                            <th>متراژ</th>
                                                            <th>تخفیف</th>
                                                            <th>مبلغ نهایی</th>
                                                            <th>تاریخ</th>
                                                            <th>توضیحات</th>
                                                            <th class="noExport">اقدامات</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        {% for invoice in invoices %}
                                                        {% for item in invoice.invoiceitemmodel_set.all %}
                                                        {% if not item.is_active %}
                                                        <tr>
                                                            <td>{% if not item.is_active %} <i class="icon-x"></i>{% else %} {% endif %}</td>
                                                            <td style="color:blueviolet" data-toggle="tooltip" data-placement="top" title="{{ item.customer.code }}">
                                                                <b>{{ item.customer.company }}</b>
                                                            </td>
                                                            <td class="text-primary">{{ item.customer.firstname }} {{ item.customer.lastname }}</td>
                                                            <td style="color:green" data-toggle="tooltip" data-placement="top" title="{{ item.exhibition.date|to_jalali:"%Y" }}">
                                                                <b>{{ item.exhibition.title }}</b>
                                                            </td>
                                                            <td>{{ item.area }}</td>
                                                            <td>{% if item.discount %}{{ item.discount }}{% else %}0{% endif %}</td>
                                                            <td>{{ item.total_price|intcomma:False }}</td>
                                                            <td>{{ item.created_date|to_jalali:'%Y/%m/%d' }}</td>
                                                            <td>
                                                                {% if item.description %}
                                                                {{ item.description }}
                                                                {% else %}
                                                                -----
                                                                {% endif %}
                                                            </td>
                                                            <td>
                                                                <a class="btn btn-xs" href="{% url 'staff:invoice-details' iid=invoice.pk %}">مشاهده</a>
                                                                <a class="btn btn-xs btn-info" href="{% url 'staff:invoice-edit' iid=invoice.pk %}">ویرایش</a>
                                                            </td>
                                                        </tr>
                                                        {% endif %}
                                                        {% endfor %}
                                                        {% endfor %}
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock content %}
{% block script %}

<script>
    $(document).ready(function(){
      $("#myInput").on("keyup", function() {
        var value = $(this).val().toLowerCase();
        $("#datatable tr").filter(function() {
          $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
        });
      });
    });
    </script>
{% endblock script %}