{% extends "base.html" %}
{% load jalali_tags %}
{% load static %}

{% block title %}
ویرایش پیغام شماره {{ mes.pk }}
{% endblock title %}

{% block content %}
<section id="page-content" class="background-light">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-body">
                        <h2>پیغام شماره {{ mes.pk }}</h2>
                        <h4 class="text-primary"><b>دریافت کننده پیغام:</b> {{mes.customer.firstname }} {{ mes.customer.lastname }} ({{ mes.customer.company }})</h4>
                    </div>
                </div>
            </div>
            {% if messages %}
            <div class="col-lg-12">
                {% for message in messages %}
                    {% if message.tags == 'error' %}
                        <div role="alert" class="alert alert-danger alert-dismissible">
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span> </button>
                            <strong><i class="fa fa-exclamation-circle"></i> هشدار!</strong> 
                            {{ message}}
                        </div>
                    {% endif %}
                    {% if message.tags == 'success' %}
                        <div role="alert" class="alert alert-success alert-dismissible">
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span> </button>
                            <strong><i class="fa fa-exclamation-circle"></i> تبریک!</strong> 
                            {{ message}}
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
            {% endif %}
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <div class="form-group col-lg-12">
                                <div class="grid-layout grid-1-columns testimonial" data- data-item="grid-item">
                                    <div class="grid-item">
                                        <div class="widget clearfix widget-blog-articles p-cb" style="background-color: mistyrose">
                                            <ul class="list-posts list-medium">
                                                <li>
                                                    {% if mes.is_active %}
                                                    <form method="post">
                                                        {% csrf_token %}
                                                        <div class="form-row">
                                                            <div class="form-group col-lg-12">
                                                                {{ form.text.label_tag }}
                                                                {{ form.text }}
                                                                {% if form.label_tag.errors %}
                                                                    {% for error in form.label_tag.errors %}
                                                                        <p class="text-danger">{{ error }}</p>
                                                                    {% endfor %}
                                                                {% endif %}
                                                            </div>
                                                        </div>
                                                        <input type="submit" value="ویرایش" class="btn btn-success">
                                                    </form>
                                                    <span class="float-right">{{ mes.created_date|to_jalali:'%H:%M - %Y/%m/%d' }}</span>
                                                    {% else %}
                                                    <h5 class="text-danger">{{ mes.text }}</h5>
                                                    {% endif %}
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-12">
                                <div class="table-responsive" style="height:500px;overflow:auto;">
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock content %}
{% block script %}

<script src={% static 'plugins/datatables/datatables.min.js' %}></script>
<script>
    $(document).ready(function(){
      $("#myInput").on("keyup", function() {
        var value = $(this).val().toLowerCase();
        $("#datatable tr").filter(function() {
          $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
        });
      });
    });
    </script>
{% endblock script %}