{% extends "base.html" %}
{% load static %}
{% block title %}
ثبت رسید پرداخت
{% endblock title %}

{% block content %}
<section id="page-content" class="background-light">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-body">
                        <h2>فرم ثبت رسید پرداخت</h2>
                        <p>لطفا فرم زیر را با دقت ثبت کنید، زیرا هرگونه تغییرات در فاکتور ایجاد شده باعث بروز خطای سیستمی می‌شود.</p>
                        <p>توجه داشته باشید مقدار تخفیف بصورت درصد محاسبه خواهد شد!</p>
                    </div>
                </div>
            </div>
            {% if messages %}
            <div class="col-lg-12">
                {% for message in messages %}
                    {% if message.tags == 'error' %}
                        <div role="alert" class="alert alert-danger alert-dismissible">
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span> </button>
                            <strong><i class="fa fa-exclamation-circle"></i> هشدار!</strong> 
                            {{ message}}
                        </div>
                    {% endif %}
                    {% if message.tags == 'success' %}
                        <div role="alert" class="alert alert-success alert-dismissible">
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span> </button>
                            <strong><i class="fa fa-exclamation-circle"></i> تبریک!</strong> 
                            {{ message}}
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
            {% endif %}
            <div class="col-lg-12">
                {% if form.non_field_errors %}
                    {% for error in form.non_field_errors %}
                    <div role="alert" class="alert alert-danger alert-dismissible">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span> </button>
                        <strong><i class="fa fa-exclamation-circle"></i> هشدار!</strong> 
                        {{ error }}
                    </div>
                    {% endfor %}
                {% endif %}
            </div>
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-lg-6">
                                <form method="post">
                                    {% csrf_token %}
                                    <div class="form-row">
                                        <div class="form-group col-lg-12">
                                            <p class="text-primary" style="font-size:15pt">این رسید پرداخت برای فاکتور شماره <b class="text-danger">{{ invoice.pk }}</b> با نام تجاری <b class="text-danger">{{ invoice.customer.company }}</b> ثبت خواهد شد.</p>
                                        </div>
                                    </div>
                                    <div class="form-row">
                                        <div class="form-group col-lg-3">
                                            {{ form.state.label_tag }}
                                            {{ form.state }}
                                            {% if form.state.errors %}
                                                {% for error in form.state.errors %}
                                                    <p class="text-danger">{{ error }}</p>
                                                {% endfor %}
                                            {% endif %}
                                        </div>
                                    </div>
                                    <div class="form-row">
                                        <div class="form-group col-lg-4">
                                            {{ form.check.label_tag }}
                                            {{ form.check }}
                                            {% if form.check.errors %}
                                                {% for error in form.check.errors %}
                                                    <p class="text-danger">{{ error }}</p>
                                                {% endfor %}
                                            {% endif %}
                                        </div>
                                        <div class="form-group col-lg-4">
                                            {{ form.name.label_tag }}
                                            {{ form.name }}
                                            {% if form.name.errors %}
                                                {% for error in form.name.errors %}
                                                    <p class="text-danger">{{ error }}</p>
                                                {% endfor %}
                                            {% endif %}
                                        </div>
                                        <div class="form-group col-lg-4">
                                            {{ form.issuerbank.label_tag }}
                                            {{ form.issuerbank }}
                                            {% if form.issuerbank.errors %}
                                                {% for error in form.issuerbank.errors %}
                                                    <p class="text-danger">{{ error }}</p>
                                                {% endfor %}
                                            {% endif %}
                                        </div>
                                        <div class="form-group col-lg-4">
                                            {{ form.amount.label_tag }}
                                            {{ form.amount }}
                                            {% if form.amount.errors %}
                                                {% for error in form.amount.errors %}
                                                    <p class="text-danger">{{ error }}</p>
                                                {% endfor %}
                                            {% endif %}
                                        </div>
                                        <div class="form-group col-lg-4">
                                            {{ form.tracenumber.label_tag }}
                                            {{ form.tracenumber }}
                                            {% if form.tracenumber.errors %}
                                                {% for error in form.tracenumber.errors %}
                                                    <p class="text-danger">{{ error }}</p>
                                                {% endfor %}
                                            {% endif %}
                                        </div>
                                        <div class="form-group col-lg-4">
                                            {{ form.datepaid.label_tag }}
                                            {{ form.datepaid }}
                                            {% if form.datepaid.errors %}
                                                {% for error in form.datepaid.errors %}
                                                    <p class="text-danger">{{ error }}</p>
                                                {% endfor %}
                                            {% endif %}
                                        </div>
                                        <div class="form-group col-lg-12">
                                            {{ form.description.label_tag }}
                                            {{ form.description }}
                                            {% if form.description.errors %}
                                                {% for error in form.description.errors %}
                                                    <p class="text-danger">{{ error }}</p>
                                                {% endfor %}
                                            {% endif %}
                                        </div>
                                    </div>
                                    <div class="form-row">
                                    </div>
                                    <input type="submit" class="btn btn-success" value="ثبت رسید پرداخت">
                                </form>
                            </div>
                            <div class="col-lg-6 text-center">
                                <img src="{% static 'images/payment.png' %}">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock content %}
{% block script%}
<script>
    // Initialize Select2 on the select element
    $(document).ready(function() {
      $('#id_customer').select2();
    });
  </script>
{% endblock script %}