{% extends "base.html" %}
{% load static %}
{% load humanize %}
{% load jalali_tags %}
{% block title %}
ثبت رسید پرداخت
{% endblock title %}

{% block content %}
<section id="page-content" class="background-light">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-body">
                        <h2>فرم ثبت رسید پرداخت</h2>
                        <p>لطفا فرم زیر را با دقت ثبت کنید، زیرا هرگونه تغییرات در فاکتور ایجاد شده باعث بروز خطای سیستمی می‌شود.</p>
                    </div>
                </div>
            </div>
            {% if messages %}
            <div class="col-lg-12">
                {% for message in messages %}
                    {% if message.tags == 'error' %}
                        <div role="alert" class="alert alert-danger alert-dismissible">
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span> </button>
                            <strong><i class="fa fa-exclamation-circle"></i> هشدار!</strong> 
                            {{ message}}
                        </div>
                    {% endif %}
                    {% if message.tags == 'success' %}
                        <div role="alert" class="alert alert-success alert-dismissible">
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span> </button>
                            <strong><i class="fa fa-exclamation-circle"></i> تبریک!</strong> 
                            {{ message}}
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
            {% endif %}
            <div class="col-lg-12">
                {% if form.non_field_errors %}
                    {% for error in form.non_field_errors %}
                    <div role="alert" class="alert alert-danger alert-dismissible">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span> </button>
                        <strong><i class="fa fa-exclamation-circle"></i> هشدار!</strong> 
                        {{ error }}
                    </div>
                    {% endfor %}
                {% endif %}
            </div>
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-body">
                        <div class="table-responsive">
                            <table id="datatable" class="table table-bordered table-hover" style="width:100%">
                                <thead class="thead-light">
                                    <tr>
                                        <th>#</th>
                                        <th>شماره سند</th>
                                        <th>نام تجاری</th>
                                        <th>عنوان نمایشگاه</th>
                                        <th>نحوه پرداخت</th>
                                        <th>مبلغ(ریال)</th>
                                        <th>تاریخ پرداخت</th>
                                        <th>اقدامات</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for pay in payments %}
                                    {% if pay.pk == payment.pk %}
                                    <tr style="background-color:pink">
                                        <td>{{ forloop.counter }}</td>
                                        <td class="text-info" data-toggle="tooltip" data-placement="top" title="{{ pay.get_state_display }}">{{ pay.pk }}</td>
                                        <td style="color:blueviolet" data-toggle="tooltip" data-placement="top" title="{% if invoice.customer.kind == 'legal' %} {{ invoice.customer.company}} {% else %} {{ invoice.customer.user.first_name }} {{ invoice.customer.user.last_name }} {% endif %}">
                                            <b>{{ invoice.customer.brand }} - {% if invoice.customer.kind == 'legal' %} {{ invoice.customer.company}} {% else %} {{ invoice.customer.user.first_name }} {{ invoice.customer.user.last_name }} {% endif %}</b>
                                        </td>
                                        <td>{{ pay.invoice.exhibition.title }}</td>
                                        <td data-toggle="tooltip" data-placement="top" title="{% if pay.state == 'pos' %}ش.پ : {{ pay.tracenumber }}{% endif %}">
                                            {{ pay.get_state_display }}
                                        </td>
                                        <td>{{ pay.amount|intcomma:False }}</td>
                                        <td class="text-primary">{{ pay.datepaid }}</td>
                                        <td class="text-light">
                                            <b>این ردیف در وضعیت ویرایش می‌باشد...</b>
                                        </td>
                                    </tr>
                                    {% endif %}
                                    {% endfor %}
                                    {% for pay in payments %}
                                    {% if pay.pk != payment.pk %}
                                    {% if pay.state == "ipg" %}
                                    <tr>
                                        <td>{{ forloop.counter }}</td>
                                        <td class="text-info" data-toggle="tooltip" data-placement="top" title="{{ pay.get_state_display }}">{{ pay.pk }}</td>
                                        <td style="color:blueviolet" data-toggle="tooltip" data-placement="top" title="{% if invoice.customer.kind == 'legal' %} {{ invoice.customer.company}} {% else %} {{ invoice.customer.user.first_name }} {{ invoice.customer.user.last_name }} {% endif %}">
                                            <b>{{ invoice.customer.brand }} - {% if invoice.customer.kind == 'legal' %} {{ invoice.customer.company}} {% else %} {{ invoice.customer.user.first_name }} {{ invoice.customer.user.last_name }} {% endif %}</b>
                                        </td>
                                        <td>{{ pay.invoice.exhibition.title }}</td>
                                        <td data-toggle="tooltip" data-placement="top" title="{% if pay.state == 'pos' %}ش.پ : {{ pay.tracenumber }}{% endif %}">
                                            {{ pay.get_state_display }}
                                        </td>
                                        <td>{{ pay.amount|intcomma:False }}</td>
                                        <td class="text-primary">{{ pay.datepaid }}</td>
                                        <td>
                                            -
                                        </td>
                                    </tr>
                                    {% else %}
                                    <tr>
                                        <td>{{ forloop.counter }}</td>
                                        <td class="text-info" data-toggle="tooltip" data-placement="top" title="{{ pay.get_state_display }}">{{ pay.pk }}</td>
                                        <td style="color:blueviolet" data-toggle="tooltip" data-placement="top" title="{% if invoice.customer.kind == 'legal' %} {{ invoice.customer.company}} {% else %} {{ invoice.customer.user.first_name }} {{ invoice.customer.user.last_name }} {% endif %}">
                                            <b>{{ invoice.customer.brand }} - {% if invoice.customer.kind == 'legal' %} {{ invoice.customer.company}} {% else %} {{ invoice.customer.user.first_name }} {{ invoice.customer.user.last_name }} {% endif %}</b>
                                        </td>
                                        <td>{{ pay.invoice.exhibition.title }}</td>
                                        <td data-toggle="tooltip" data-placement="top" title="{% if pay.state == 'pos' %}ش.پ : {{ pay.tracenumber }}{% endif %}">
                                            {{ pay.get_state_display }}
                                        </td>
                                        <td>{{ pay.amount|intcomma:False }}</td>
                                        <td class="text-primary">{{ pay.datepaid }}</td>
                                        <td>
                                            {% if pay.invoice.state == "unpaid" %}
                                            <a class="btn btn-sm" href="{% url 'office:payment-edit' pid=pay.pk iid=pay.invoice.pk %}">ویرایش</a>
                                            <a class="btn btn-danger btn-sm" href="{% url 'office:payment-remove' pid=pay.pk %}">حذف</a>
                                            {% endif %}
                                        </td>
                                    </tr>
                                    {% endif %}
                                    {% endif %}
                                    {% endfor %}
                                </tbody>
                                <tfoot>
                                    <tr>
                                        <th colspan="5"></th>
                                        <th>{{ total|intcomma:False}}</th>
                                        <th colspan="2"></th>
                                    </tr>
                                </tfoot>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                {% if invoice.state == "unpaid" %}
                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-lg-12">
                                <form method="post">
                                    {% csrf_token %}
                                    <div class="form-row">
                                        <div class="form-group col-md-4">
                                            {{ form.state.label_tag }}
                                            {{ form.state }}
                                            {% if form.state.errors %}
                                                {% for error in form.state.errors %}
                                                    <p class="text-danger">{{ error }}</p>
                                                {% endfor %}
                                            {% endif %}
                                            {% if form.label_tag.errors %}
                                                {% for error in form.label_tag.errors %}
                                                    <p class="text-danger">{{ error }}</p>
                                                {% endfor %}
                                            {% endif %}
                                        </div>
                                        <div class="form-group col-md-4">
                                            {{ form.bank.label_tag }}
                                            {{ form.bank }}
                                            {% if form.bank.errors %}
                                                {% for error in form.bank.errors %}
                                                    <p class="text-danger">{{ error }}</p>
                                                {% endfor %}
                                            {% endif %}
                                            {% if form.label_tag.errors %}
                                                {% for error in form.label_tag.errors %}
                                                    <p class="text-danger">{{ error }}</p>
                                                {% endfor %}
                                            {% endif %}
                                        </div>
                                        <div class="form-group col-md-4">
                                            {{ form.datepaid.label_tag }}
                                            {{ form.datepaid }}
                                            {% if form.datepaid.errors %}
                                                {% for error in form.datepaid.errors %}
                                                    <p class="text-danger">{{ error }}</p>
                                                {% endfor %}
                                            {% endif %}
                                            {% if form.label_tag.errors %}
                                                {% for error in form.label_tag.errors %}
                                                    <p class="text-danger">{{ error }}</p>
                                                {% endfor %}
                                            {% endif %}
                                        </div>
                                    </div>
                                    <div class="form-row">
                                        <div class="form-group col-md-6">
                                            {{ form.check.label_tag }}
                                            {{ form.check }}
                                            {% if form.check.errors %}
                                                {% for error in form.check.errors %}
                                                    <p class="text-danger">{{ error }}</p>
                                                {% endfor %}
                                            {% endif %}
                                            {% if form.label_tag.errors %}
                                                {% for error in form.label_tag.errors %}
                                                    <p class="text-danger">{{ error }}</p>
                                                {% endfor %}
                                            {% endif %}
                                        </div>
                                        <div class="form-group col-md-6">
                                            {{ form.name.label_tag }}
                                            {{ form.name }}
                                            {% if form.name.errors %}
                                                {% for error in form.name.errors %}
                                                    <p class="text-danger">{{ error }}</p>
                                                {% endfor %}
                                            {% endif %}
                                            {% if form.label_tag.errors %}
                                                {% for error in form.label_tag.errors %}
                                                    <p class="text-danger">{{ error }}</p>
                                                {% endfor %}
                                            {% endif %}
                                        </div>
                                    </div>
                                    <div class="form-row">
                                        <div class="form-group col-md-6">
                                            {{ form.amount.label_tag }}
                                            {{ form.amount }}
                                            {% if form.amount.errors %}
                                                {% for error in form.amount.errors %}
                                                    <p class="text-danger">{{ error }}</p>
                                                {% endfor %}
                                            {% endif %}
                                            {% if form.label_tag.errors %}
                                                {% for error in form.label_tag.errors %}
                                                    <p class="text-danger">{{ error }}</p>
                                                {% endfor %}
                                            {% endif %}
                                        </div>
                                        <div class="form-group col-md-6">
                                            {{ form.tracenumber.label_tag }}
                                            {{ form.tracenumber }}
                                            {% if form.tracenumber.errors %}
                                                {% for error in form.tracenumber.errors %}
                                                    <p class="text-danger">{{ error }}</p>
                                                {% endfor %}
                                            {% endif %}
                                            {% if form.label_tag.errors %}
                                                {% for error in form.label_tag.errors %}
                                                    <p class="text-danger">{{ error }}</p>
                                                {% endfor %}
                                            {% endif %}
                                        </div>
                                        <div class="form-group col-md-12">
                                            {{ form.description.label_tag }}
                                            {{ form.description }}
                                            {% if form.description.errors %}
                                                {% for error in form.description.errors %}
                                                    <p class="text-danger">{{ error }}</p>
                                                {% endfor %}
                                            {% endif %}
                                            {% if form.label_tag.errors %}
                                                {% for error in form.label_tag.errors %}
                                                    <p class="text-danger">{{ error }}</p>
                                                {% endfor %}
                                            {% endif %}
                                        </div>
                                    </div>
                                    <input type="submit" class="btn btn-success" value="ثبت رسید پرداخت">
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                {% endif %}
            </div>
            <div class="col-lg-4">
                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-12">
                                <div class="card mb-3">
                                    <div class="card-header">شماره فاکتور: {{ invoice.pk }}</div>
                                    <div class="card-body text-white bg-info">
                                        <h5 class="card-title" style="font-size:1.4rem"><b>نام مشارکت کننده:</b> {{ invoice.customer.brand }} {% if invoice.customer.kind == "real" %} - {{ invoice.valet.user.first_name }} {{ invoice.valet.user.last_name }}{% else %} - {{ invoice.customer.company }}{% endif %}</h5>
                                        <p class="card-text" style="font-size:1.4rem">
                                            <b>نمایشگاه:</b> {{ invoice.exhibition.title }}<br>
                                            <b>متراژ:</b> {{ invoice.area }} مترمربع<br>
                                            <b>قیمت واحد:</b> {{ invoice.price|intcomma:False }} ریال<br>
                                            <b>تخفیف:</b> {{ invoice.discount }} %<br>
                                            <b>ارزش افزوده:</b> {{ invoice.value_added }} %<br>
                                            <b>مبلغ قابل پرداخت:</b> {{ invoice.amount|intcomma:False }} ریال
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="card">
                    <div class="card-body">
                        <div class="widget widget-mycart p-cb">
                            <div class="cart-total">
                                <div class="cart-total-labels">
                                    <span class="mb-4">جمع رسیدهای دریافتی</span>
                                    <span class="mb-4">هزینه غرفه</span>
                                    <span class="mb-4 text-danger"><strong>مانده بدهکاری</strong></span>
                                </div>
                                <div class="cart-total-prices">
                                    <span class="mb-4">{{ total|intcomma:False }} ریال</span>
                                    <span class="mb-4">{{ invoice.amount|intcomma:False }} ریال</span>
                                    <span class="mb-4 text-danger"><strong>{{ debit|intcomma:False }} ریال</strong></span>
                                </div>
                            </div>
                            <hr>
                            <div class="cart-total">
                                <div class="cart-total-labels">
                                    {% if invoice.state == "unpaid" %}
                                    <span class="mt-4 text-primary"><strong>عملیات</strong></span>
                                    {% else %}
                                    <span class="mt-4 text-primary"><strong>فاکتور</strong></span>
                                    <span class="mt-4 text-primary"><strong>مجوز خروج</strong></span>
                                    {% endif %}
                                </div>
                                <div class="cart-total-prices">
                                    {% if invoice.state == "unpaid" %}
                                    <a href="{% url 'office:checkout' iid=invoice.pk %}" class="btn btn-sm mt-4">تسویه حساب</a>
                                    {% else %}
                                    <span><a href="{% url 'office:invoice-print' iid=invoice.pk %}" target="_blank" class="btn btn-sm btn-outline mt-4"><i class="fa fa-download"></i></a></span>
                                    <span><a href="#" class="btn btn-sm btn-outline mt-4"><i class="icon-printer"></i></a></span>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock content %}
{% block script %}


{% endblock script %}