{% extends "base.html" %}
{% load jalali_tags %}
{% load static %}

{% block title %}
لیست درخواست‌های مشارکت کنندگان
{% endblock title %}

{% block content %}
<section id="page-content" class="background-light">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-body" data-bg-image="{% static 'images/req.png' %}">
                        <h2>لیست درخواست‌ها</h2>
                        <p>جدول زیر درخواست‌های مشارکت کنندگان را در وضعیت‌های (در انتظار بررسی، تایید شده و منقضی شده) نشان می‌دهد.</p>
                        <p class="text-danger">توجه داشته باشید که فقط درخواست‌های در انتظار بررسی، قابلیت تغییر وضعیت را دارند!</p>
                    </div>
                </div>
            </div>
            {% if messages %}
            <div class="col-lg-12">
                {% for message in messages %}
                    {% if message.tags == 'error' %}
                        <div role="alert" class="alert alert-danger alert-dismissible">
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span> </button>
                            <strong><i class="fa fa-exclamation-circle"></i> هشدار!</strong> 
                            {{ message}}
                        </div>
                    {% endif %}
                    {% if message.tags == 'success' %}
                        <div role="alert" class="alert alert-success alert-dismissible">
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span> </button>
                            <strong><i class="fa fa-exclamation-circle"></i> تبریک!</strong> 
                            {{ message}}
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
            {% endif %}
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <div class="form-group col-lg-3">
                                <input class="form-control" id="myInput" type="text" placeholder="جستجو...">
                            </div>
                            <div class="col-lg-12">
                                <div class="tabs">
                                    <ul class="nav nav-tabs" id="myTab" role="tablist">
                                        <li class="nav-item">
                                            <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab"
                                                aria-controls="home" aria-selected="true">در انتظار بررسی</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab"
                                                aria-controls="profile" aria-selected="false">تایید شده</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" id="deny-tab" data-toggle="tab" href="#deny" role="tab"
                                                aria-controls="deny" aria-selected="true">منقضی شده</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" id="all-tab" data-toggle="tab" href="#all" role="tab"
                                                aria-controls="all" aria-selected="false">همه</a>
                                        </li>
                                    </ul>
                                    <div class="tab-content" id="myTabContent">
                                        <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                                            <div class="table-responsive" style="height:500px;overflow:auto;">
                                                <table id="datatable" class="table table-bordered table-hover" style="width:100%;text-align:center">
                                                    <thead class="thead-light">
                                                        <tr>
                                                            <th>وضعیت</th>
                                                            <th>نام و نشان</th>
                                                            <th>نام تجاری</th>
                                                            <th>نمایشگاه</th>
                                                            <th>متراژ</th>
                                                            <th>تاریخ</th>
                                                            <th>قبول قوانین</th>
                                                            <th>اقدامات</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        {% for req in req %}
                                                        {% if req.state == "wait" %}
                                                        <tr>
                                                            <td>
                                                                {% if req.state == "wait" %}
                                                                <span class="badge badge-pill badge-warning">در انتظار بررسی</span>
                                                                {% elif req.state == "accept" %}
                                                                <span class="badge badge-pill badge-success">قبول</span>
                                                                {% else %}
                                                                <span class="badge badge-pill badge-danger">رد شده</span>
                                                                {% endif %}
                                                            </td>
                                                            <td>{{ req.customer.firstname }} {{ req.customer.lastname }}</td>
                                                            <td style="color:blueviolet">{{ req.customer.company }}</td>
                                                            <td class="text-primary">{{ req.exhibition.title }}</td>
                                                            <td>{{ req.area }}</td>
                                                            <td>{{ req.created_date|to_jalali:'%Y/%m/%d' }}</td>
                                                            <td>{% if req.rules %} <i class="fa fa-check-square"></i>{% else %} {% endif %}</td>
                                                            <td><a href="{% url 'staff:request-details' rid=req.pk %}">مشاهده</a></td>
                                                        </tr>
                                                        {% endif %}
                                                        {% endfor %}
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                        <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                                            <div class="table-responsive" style="height:500px;overflow:auto;">
                                                <table id="datatable" class="table table-bordered table-hover" style="width:100%;text-align:center">
                                                    <thead class="thead-light">
                                                        <tr>
                                                            <th>وضعیت</th>
                                                            <th>نام و نشان</th>
                                                            <th>نام تجاری</th>
                                                            <th>نمایشگاه</th>
                                                            <th>متراژ</th>
                                                            <th>تاریخ</th>
                                                            <th>قبول قوانین</th>
                                                            <th>اقدامات</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        {% for req in req %}
                                                        {% if req.state == "accept" %}
                                                        <tr>
                                                            <td>
                                                                {% if req.state == "wait" %}
                                                                <span class="badge badge-pill badge-warning">در انتظار بررسی</span>
                                                                {% elif req.state == "accept" %}
                                                                <span class="badge badge-pill badge-success">قبول</span>
                                                                {% else %}
                                                                <span class="badge badge-pill badge-danger">رد شده</span>
                                                                {% endif %}
                                                            </td>
                                                            <td>{{ req.customer.firstname }} {{ req.customer.lastname }}</td>
                                                            <td style="color:blueviolet">{{ req.customer.company }}</td>
                                                            <td class="text-primary">{{ req.exhibition.title }}</td>
                                                            <td>{{ req.area }}</td>
                                                            <td>{{ req.created_date|to_jalali:'%Y/%m/%d' }}</td>
                                                            <td>{% if req.rules %} <i class="fa fa-check-square"></i>{% else %} {% endif %}</td>
                                                            <td><a href="{% url 'staff:request-details' rid=req.pk %}">مشاهده</a></td>
                                                        </tr>
                                                        {% endif %}
                                                        {% endfor %}
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                        <div class="tab-pane fade" id="deny" role="tabpanel" aria-labelledby="deny-tab">
                                            <div class="table-responsive" style="height:500px;overflow:auto;">
                                                <table id="datatable" class="table table-bordered table-hover" style="width:100%;text-align:center">
                                                    <thead class="thead-light">
                                                        <tr>
                                                            <th>وضعیت</th>
                                                            <th>نام و نشان</th>
                                                            <th>نام تجاری</th>
                                                            <th>نمایشگاه</th>
                                                            <th>متراژ</th>
                                                            <th>تاریخ</th>
                                                            <th>قبول قوانین</th>
                                                            <th>اقدامات</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        {% for req in req %}
                                                        {% if req.state == "deny" %}
                                                        <tr>
                                                            <td>
                                                                {% if req.state == "wait" %}
                                                                <span class="badge badge-pill badge-warning">در انتظار بررسی</span>
                                                                {% elif req.state == "accept" %}
                                                                <span class="badge badge-pill badge-success">قبول</span>
                                                                {% else %}
                                                                <span class="badge badge-pill badge-danger">رد شده</span>
                                                                {% endif %}
                                                            </td>
                                                            <td>{{ req.customer.firstname }} {{ req.customer.lastname }}</td>
                                                            <td style="color:blueviolet">{{ req.customer.company }}</td>
                                                            <td class="text-primary">{{ req.exhibition.title }}</td>
                                                            <td>{{ req.area }}</td>
                                                            <td>{{ req.created_date|to_jalali:'%Y/%m/%d' }}</td>
                                                            <td>{% if req.rules %} <i class="fa fa-check-square"></i>{% else %} {% endif %}</td>
                                                            <td><a href="{% url 'staff:request-details' rid=req.pk %}">مشاهده</a></td>
                                                        </tr>
                                                        {% endif %}
                                                        {% endfor %}
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                        <div class="tab-pane fade" id="all" role="tabpanel" aria-labelledby="all-tab">
                                            <div class="table-responsive" style="height:500px;overflow:auto;">
                                                <table id="datatable" class="table table-bordered table-hover" style="width:100%;text-align:center">
                                                    <thead class="thead-light">
                                                        <tr>
                                                            <th>وضعیت</th>
                                                            <th>نام و نشان</th>
                                                            <th>نام تجاری</th>
                                                            <th>نمایشگاه</th>
                                                            <th>متراژ</th>
                                                            <th>تاریخ</th>
                                                            <th>قبول قوانین</th>
                                                            <th>اقدامات</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        {% for req in req %}
                                                        <tr>
                                                            <td>
                                                                {% if req.state == "wait" %}
                                                                <span class="badge badge-pill badge-warning">در انتظار بررسی</span>
                                                                {% elif req.state == "accept" %}
                                                                <span class="badge badge-pill badge-success">قبول</span>
                                                                {% else %}
                                                                <span class="badge badge-pill badge-danger">رد شده</span>
                                                                {% endif %}
                                                            </td>
                                                            <td>{{ req.customer.firstname }} {{ req.customer.lastname }}</td>
                                                            <td style="color:blueviolet">{{ req.customer.company }}</td>
                                                            <td class="text-primary">{{ req.exhibition.title }}</td>
                                                            <td>{{ req.area }}</td>
                                                            <td>{{ req.created_date|to_jalali:'%Y/%m/%d' }}</td>
                                                            <td>{% if req.rules %} <i class="fa fa-check-square"></i>{% else %} {% endif %}</td>
                                                            <td><a href="{% url 'staff:request-details' rid=req.pk %}">مشاهده</a></td>
                                                        </tr>
                                                        {% endfor %}
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock content %}
{% block script %}

<script src={% static 'plugins/datatables/datatables.min.js' %}></script>
<script>
    $(document).ready(function(){
      $("#myInput").on("keyup", function() {
        var value = $(this).val().toLowerCase();
        $("#datatable tr").filter(function() {
          $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
        });
      });
    });
    </script>
{% endblock script %}