{% extends "base-c.html" %}

{% block title %}

{% endblock title %}

{% block content %}
<section class="m-t-80 p-b-150">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="text-left">
                            <h1 class="text-medium">خطای دسترسی!!</h1>
                            <p class="lead">متأسفیم، شما مجوز نمایش این صفحه را ندارید.</p>
                            <div class="seperator m-t-20 m-b-20"></div><button onclick="window.location.reload()" class="btn" type="button">بارگذاری مجدد صفحه</button>
                        </div>
                    </div>
                </div>
            </div>
        </section>
{% endblock content %}