{% extends "base-c.html" %}

{% block title %}

{% endblock title %}

{% block content %}
<section id="page-title">
    <div class="container">
        <div class="breadcrumb">
        </div>
        <div class="page-title">
            <h1>درخواست مشارکت در نمایشگاه</h1>
        </div>
    </div>
</section>

<div class="modal fade" id="modal" tabindex="-1" role="modal" aria-labelledby="modal-label" aria-hidden="true"
    style="display: none;">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="modal-label">قوانین و مقررات</h4>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12">
                        <p>
                            تذکر مهم:  <br>
           مدیریت نمایشگاه در خصوص واگذاری و یا عدم واگذاری غرفه به متقاضی ، کنسل کردن و یا تغییر محل غرفه اختیار تام دارد.<br>
چنانچه مشارکت کننده ای برخلاف قوانین نمایشگاه اقدام کند، مدیریت نمایشگاه درخصوص متوقف کردن فعالیت و جمع آوری غرفه مربوطه تام الاختیار است.<br>
	رزرو غرفه بدون تکمیل فرم درخواست و واریز پیش پرداخت و ارائه مدارک معتبر و تکمیل پرونده مقدورنمی باشد.<br>
	درصورت اعلام انصراف از مشارکت در نمایشگاه وجوه دریافتی مسترد نخواهد شد.<br>
	نصب وسایل صوتی و تصوری و ایجاد هرگونه آلودگی صوتی داخل غرفه اکیداً ممنوع میباشد و درصورت عدم رعایت غرفه تعطیل خواهد شد و مشارکت کننده حق هرگونه اعتراضی را از خود سلب می نماید. <br>

                            شرایط و مقررات برگزاری نمایشگاهها<br>
1-	تاریخ تحویل غرفه دو روز قبل از شروع نمایشگاه می باشد. در صورت نیاز مشارکت کنندگان به زمان بیشتر جهت غرفه سازی، درخواست بایستی بصورت کتبی اعلام شده و مجوز لازم جهت تحویل غرفه زود هنگام و غرفه سازی اخذ گردد.<br>
2-	ورود وسایل غرفه به داخل نمایشگاه و غرفه آرایی و غرفه سازی بایستی تا ساعت 18 عصر روز قبل از افتتاح نمایشگاه به اتمام رسیده باشد. در روز افتتاح نمایشگاه اجازه ورود وسایل و تجهیزات به نمایشگاه داده نخواهد شد.<br>
3-	غرفه داران مجاز به ترک نمایشگاه و تخلیه غرفه در ایام برگزاری نمایشگاه نمی باشند. <br>
4-	 جمع آوری غرفه ها و تخلیه سالن حداکثریک روز بعد از اتمام تاریخ برگزاری نمایشگاه خواهد بود. بعد از آن کالا به انبار نمایشگاه منتقل شده و حفظ و نگهداری آن خارج از مسئولیت شرکت نمایشگاهی بوده و به ازای هر روز مبلغ 000/000/5 ریال هزینه انبارداری محاسبه خواهد شد.<br>
5-	در روز تخلیه درب سالنها رأس ساعت 9 صبح الی 18 عصر جهت جمع آوری و تخلیه غرفه ها باز خواهد شد.  <br> 
6-	مسئولیت حفظ وحراست از کلیه لوازم موجود در غرفه ها در طول زمان غرفه سازی و فعالیت نمایشگاه و تخلیه غرفه ها برعهده غرفه داران بوده و نمایشگاه هیچگونه مسئولیتی نخواهد داشت.<br>
7-	در صورت کثیفی و عدم نظافت و پاک سازی غرفه ها و یا  وارد آمدن هرگونه خسارت به تجهیزات نمایشگاهی، موکت، کف سالنها و سیستم برق و ...، میزان خسارت وارده توسط شرکت نمایشگاهی محاسبه و از مشارکت کننده دریافت و یا از ودیعه کسرخواهد شد. <br>
8-	مشارکت کنندگان موظف به رعایت حریم غرفه های خود می باشند. استفاده از فضای راهروها ممنوع بوده و در صورت عدم رعایت متراژ مازاد محاسبه و اخذ خواهد گردید. <br>
9-	شارژ غرفه ها هر روز از ساعت 13-11 امکانپذیر می باشد.<br>
10-	کلیه کالاها و اقلام نمایشگاهی باید دارای برچسب قیمت بوده و قیمت فروش آنها حداقل ده درصد پائین تراز قیمت فروش در بیرون از سایت باشند. <br>
11-	افراد حاضردر غرفه ها باید دارای کارت شناسایی باشند. (کارت شناسایی توسط امور نمایشگاهی صادر میشود)<br>
12-	پخش هرگونه تراکت، نصب بنر، پارچه، استند و ... در خارج از حریم غرفه ممنوع می باشد. و انجام تبلیغات صرفا از طریق بیلبوردهای داخل محوطه نمایشگاه و رادیو و تلویزیون نمایشگاه امکانپذیر می باشد.<br>
13-	امکانات داخل غرفه شامل: یک عدد میز، دو عدد صندلی پلاستیکی، کتیبه سردرب (برای غرفه هایی که از سیستم پارتیشن بندی استفاده میکنند) می باشد و با زای هر 12 مترمربع غرفه 2 عدد لامپ 20 وات و جمعاً 50 وات برق مصرفی رایگان در اختیار غرفه قرار خواهد گرفت.<br>
14-	کلیه امورات مربوط به برق مصرفی مازاد بایستی با هماهنگی و تائید مسئول برق نمایشگاه انجام گیرد و مستلزم پرداخت هزینه طبق فرم درخواست قبل از اجرا می باشد. درصورت عدم هماهنگی و تأیید مسئول برق، شرکت مجاز به جمع آوری لوازم مصرفی برقی می باشد. (در صورت نیاز به برق سه فاز یک هفته قبل از شروع نمایشگاه بایستی درخواست کتبی داده شود).<br>
15-	 هزینه و اجرای تجهیزات روشنایی و نورپردازی مازاد، با تأیید مسئول برق نمایشگاه بعهده غرفه داران می باشد.<br>
16-	 جهت نورپردازی و افزایش روشنایی غرفه الزاماً بایستی از پروژکتورها یا لامپهای کم مصرف و تا میزان 50 وات بازای هر 12مترمربع استفاده گردد.<br>
17-	 انجام نورپردازی و روشنایی غرفه هایی که از سیستم پارتیشن بندی استفاده ننموده اند و یا غرفه سازی داشته اند به عهده غرفه دار بوده و صرفا برق ورودی به این قبیل غرفه ها داده خواهد شد.<br>
18-	درصورت عدم نیاز مشارکت کننده به سیستم پارتیشن بندی، بازای باز کردن هر مترمربع از سیستم پارتیشن بندی مبلغ 000/000/1 ریال دریافت خواهد شد. <br>
19-	اینترنت سالن به اندازه یک گیگ بصورت رایگان می باشد و مازاد برآن شامل هزینه خواهد بود.<br>
20-	 درصورتیکه کالاهای عرضه شده درغرفه مغایرتی با عنوان نمایشگاه و همچنین زمینه فعالیت ذکر شده در فرم قرارداد را داشته باشد، از ادامه فعالیت غرفه جلوگیری بعمل آمده و در این رابطه غرفه دار حق اعتراض و ادعای خسارت را از خود سلب نموده است.<br>
21-	 نمایشگاه هیچگونه مسئولیتی در قبال نوسانات و اتفاقات برق و ازکار افتادن سیستمهای الکتریکی بعلت قطع برق شهری را نداشته و غرفه داران بایستی خود نسبت به تهیه دستگاههای محافظ و ups اقدام نمایند.<br>
22-	 نصب و استفاده از هرگونه وسایل و تجهیزات سمعی و بصری و یا حتی ایجاد هرگونه آلودگی صوتی توسط فروشنده درداخل غرفه اکیداً ممنوع بوده و درصورت عدم رعایت از طرف غرفه دار، نمایشگاه مجاز به قطع برق و تعطیلی غرفه خواهد بود. <br>
23-	 غرفه داران مجاز به تغییردر اتصالات و سیستم برق و روشنایی غرفه نمی باشند. درصورت عدم رعایت مسئولیت بروز هرگونه خطرات احتمالی متوجه غرفه دارخواهد بود.<br>
24-	 هرگونه پخت و پز درداخل غرفه و سالنها اکیداً ممنوع می باشد.<br>
25-	 سالنهای نمایشگاه و غرفه ها تا سقف مبلغ ده میلیون تومان برای هر غرفه تحت پوشش بیمه آتش سوزی، انفجار و صاعقه می باشند. درصورتی که مشارکت کنندگان ارزش کالاهای خود را بیشتر و پوشش بیمه ای مازاد بر مبلغ ده میلیون تومان را لازم میدانند، می بایست شخصاً و با هزینه شخصی خود نسبت به افزایش پوشش بیمه کالاهای خود اقدام نمایند.<br>
26-	 رعایت ضوابط و مقررات نمایشگاه و برخورد مناسب و نیکو و احترام به قوانین نمایشگاه و رعایت شئونات اسلامی و رعایت حجاب ( استفاده از مقنعه و مانتو جلو بسته برای بانوان) از سوی مشارکت کنندگان الزامی می باشد. بدیهی است عواقب ناشی از عدم رعایت ضوابط و مقررات به عهده مسئول غرفه خواهد بود.<br>
27-	 درصورت عدم تخلیه غرفه و تسویه حساب کامل، بدینوسیله شرکت نمایشگاه ارومیه مجاز و مختار می باشد تا بدون نیاز به هرگونه اعلام و اطلاع قبلی نسبت به ارزش گذاری کالای موجود در غرفه از طریق یکی از کارشناسان رسمی دادگستری به طریق معمول و عرف بازار از محل فروش آنها نسبت به تأمین هزینه ها و خسارات وارده به شرکت اقدام نماید و اینجانب با امضاء ذیل این مقررات حق هرگونه اعتراض و یا اقدام قانونی و یا قضائی را از خود سلب نمودم.<br>

                        </p>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-b" data-dismiss="modal">بستن</button>
            </div>
        </div>
    </div>
</div>
<div class="container mt-5 mb-5">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <h4>فرم درخواست غرفه</h4>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-12">
                        {% for error in form.non_field_errors %}
                        <div role="alert" class="alert alert-danger alert-dismissible">
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span> </button>
                            <strong><i class="fa fa-exclamation-circle"></i> خطا!</strong> 
                            {{ error }}
                        </div>
                        {% endfor %}
                        {% for message in messages %}
                            {% if message.tags == 'error' %}
                                <div role="alert" class="alert alert-danger alert-dismissible">
                                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span> </button>
                                    <strong><i class="fa fa-exclamation-circle"></i> هشدار!</strong> 
                                    {{ message}}
                                </div>
                            {% endif %}
                            {% if message.tags == 'success' %}
                                <div role="alert" class="alert alert-success alert-dismissible">
                                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span> </button>
                                    <strong><i class="fa fa-exclamation-circle"></i> تبریک!</strong> 
                                    {{ message}}
                                </div>
                            {% endif %}
                        {% endfor %}
                        </div>
                    </div>
                    <form method="post">
                        {% csrf_token %}
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="state">عنوان نمایشگاه</label>
                            <select name="exhibition" id="id_exhibition" class="form-control" required>
                                {% for ex in exhibition %}
                                <option value="{{ ex.pk }}">{{ ex.title }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="form-group col-md-6">
                            <label for="country">حساب کاربری</label>
                            <select name="customer" id="id_customer" class="form-control" required>
                                {% for cus in customer %}
                              <option value="{{ cus.pk }}">{{ cus.brand }}</option>
                              {% endfor %}
                            </select>
                        </div>
                        <div class="form-group col-md-12">
                            {{ form.rules.label_tag }}
                            {{ form.rules }} <a data-target="#modal" data-toggle="modal" href="#" style="color:blue">قوانین و مقررات</a> را مطالعه کردم و قبول دارم
                        </div>
                        <div class="form-group col-md-12">
                            {{ form.description.label_tag }} <p>(لطفا اقلامی که در غرفه عرضه خواهید کرد را شرح دهید)</p>
                            {{ form.description }}
                        </div>
                        <input class="btn btn-success" type="submit" value="ارسال">
                    </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}